<!doctype html>

<html lang="uk" data-bs-theme="{% if request.cookies.get('theme') %}{{ request.cookies.get('theme') }}{% else %}light{% endif %}">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>
            {% block title %}
            {% endblock %}
        </title>

        <link rel="icon" type="image/x-icon" href="{{ url_for('views.favicon') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/css/style.css') }}">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    </head>

    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-success text-white p-2">
            <div class="container-xxl container-fluid">

                <a class="navbar-brand" href="{{ url_for('views.home') }}">
                    <img class="d-inline-block align-text-top" style="width: 26.4px; height: auto;" src="{{ url_for('views.favicon') }}"/>
                    <span>Articlify</span>
                </a>

                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

                    <ul class="navbar-nav">

                        <li class="nav-item">
                            <a class="nav-link {% if request.endpoint == 'views.home' %}active{% endif %}"
                               href="{{ url_for('views.home') }}">
                                Головна
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link {% if request.endpoint == 'views.feedback' %}active{% endif %}"
                               href="{{ url_for('views.feedback') }}">
                                Зворотній зв'язок
                            </a>
                        </li>

                    </ul>

                    <ul class="navbar-nav ms-auto">

                        {% if current_user.is_authenticated %}
                            <li class="nav-item">
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle text-white" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        @{{ current_user.username }}
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li>
                                            <a class="dropdown-item" href="{{ url_for('views.profile', username=current_user.username) }}">
                                                @{{ current_user.username }}
                                            </a>
                                        </li>

                                        <li><hr class="dropdown-divider"></li>

                                        <li>
                                            <a class="dropdown-item" href="{{ url_for('auth.log_out') }}">
                                                Вихід
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link {% if request.endpoint == 'auth.log_in' %}active{% endif %}"
                                   href="{{ url_for('auth.log_in') }}">
                                    Вхід
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link {% if request.endpoint == 'auth.sign_up' %}active{% endif %}"
                                   href="{{ url_for('auth.sign_up') }}">
                                    Реєстрація
                                </a>
                            </li>
                        {% endif %}

                        <li class="nav-item ms-2">
                            <div class="dropdown">
                                <button class="btn dropdown-toggle text-white" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Тема
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <button class="dropdown-item" onclick="setTheme('light')">
                                             
                                            <i class="fa-regular fa-sun"></i>
                                            Світла
                                        </button>
                                    </li>
                                    <li>
                                        <button class="dropdown-item" onclick="setTheme('dark')">
                                             
                                            <i class="fa-regular fa-moon"></i>
                                            Темна
                                        </button>
                                    </li>
                                    <li>
                                        <button class="dropdown-item" onclick="setTheme('auto')">
                                             
                                            <i class="fa-solid fa-circle-half-stroke"></i>
                                            Авто
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </li>

                    </ul>

                </div>

            </div>
        </nav>

        <div class="container">
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{% if category != 'message' %}{{ category }}{% else %}info{% endif %} alert-dismissible fade show m-2" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            {% block content %}
            {% endblock %}
        </div>

        <script src="{{ url_for('static', filename='scripts/customize/custom.js') }}"></script>

        <script src="https://kit.fontawesome.com/a8e1094a8d.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>

</html>