@media (min-width: 300px) {
    .container{
        max-width: 700px !important;
    }
}

.pfp {
    width: 100px !important;
    height: 100px !important;
}

.pre {
    white-space: pre-wrap !important;
    overflow-wrap: break-word !important;
    word-wrap: break-word !important;
}

.underline-offset {
    text-underline-offset: 3px;
}

.sortable-item {
    display: flex !important;
}

.drag-handle {
    cursor: grab !important;
}

.drag-handle:hover {
    cursor: grab !important;
}
