{% extends 'layouts/settings_layout.html' %}

{% block settings_title %}
    Налаштування акаунту
{% endblock %}

{% block settings_content %}
    <div class="title mt-3 mb-3" align="center">
        <h1>Налаштування акаунту</h1>
    </div>

    <div class="settings mt-3 mb-3">

        <div class="registration mt-3 mb-3">
            <div class="card w-100">
                <div class="card-body text-center w-100">
                    Акаунт зареєстровано {{ current_user.registration|datetime_calculation }} назад.
                </div>
            </div>
        </div>

        <div class="profile-status ">

            <div class="input-group w-100">

                <span class="input-group-text border-end-0 bg-transparent flex-grow-1">
                    Статус профілю
                </span>

                <span class="input-group-text border-start-0 border-end-0 bg-transparent text-end">
                    {% if current_user.profile_status %}
                        Публічний
                    {% else %}
                        Приватний
                    {% endif %}
                </span>

                <button class="btn btn-outline-info border-start-0 border" type="button"
                        data-bs-toggle="modal" data-bs-target="#changeProfileStatus">
                    <i class="fa-regular fa-pen-to-square"></i>
                </button>

            </div>

            <div class="modal fade" id="changeProfileStatus">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5">Зміна статусу профілю</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <div class="input-group mb-3">

                                <label class="input-group-text bg-transparent" for="profileStatus">Статус профілю</label>
                                <select class="form-select" id="profileStatus">
                                    {% if current_user.profile_status %}
                                        <option value="public" selected>Публічний</option>
                                        <option value="private">Приватний</option>
                                    {% elif not current_user.profile_status %}
                                        <option value="public">Публічний</option>
                                        <option value="private" selected>Приватний</option>
                                    {% endif %}
                                </select>

                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" id="changeProfileStatusButton" onclick="changeProfileStatus()">
                                Змінити
                            </button>
                            <button type="button" class="btn btn-danger" id="cancelChangeProfileStatusButton" data-bs-dismiss="modal">
                                Відхилити
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="profile-picture mt-3 mb-3">

            <div class="input-group w-100">

                <span class="input-group-text border-end-0 bg-transparent flex-grow-1">
                    Фото
                </span>
                <span class="input-group-text border-start-0 border-end-0 bg-transparent text-end">
                    <img src="{{ url_for('static', filename=current_user.profile_picture_path) }}"
                         class="pfp rounded">
                </span>

                <button class="btn btn-outline-info border-start-0 border" type="button"
                        data-bs-toggle="modal" data-bs-target="#changeProfilePicture">
                    <i class="fa-regular fa-pen-to-square"></i>
                </button>

            </div>

            <div class="modal fade" id="changeProfilePicture">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5">Зміна фото профілю</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <p>Ваше попереднє фото профілю:</p>
                            <img src="{{ url_for('static', filename=current_user.profile_picture_path) }}"
                                 class="pfp rounded mb-3">

                            {% if current_user.profile_picture_name != 'default_pfp.svg' %}
                                <br>
                                <button type="button" class="btn btn-outline-danger border mb-3" onclick="deleteProfilePicture()">
                                    Видалити фото
                                </button>
                            {% endif %}

                            <p>Завантажте нове фото профілю (.png, .jpg):</p>
                            <input type="file" class="form-control" id="profilePicture" name="profilePicture">


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" id="changeProfilePictureButton" onclick="changeProfilePicture()">
                                Змінити
                            </button>
                            <button type="button" class="btn btn-danger" id="cancelChangeProfilePictureButton" data-bs-dismiss="modal">
                                Відхилити
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="username mt-3 mb-3">

            <div class="input-group w-100">

                <span class="input-group-text border-end-0 bg-transparent flex-grow-1">
                    Ім'я
                </span>
                <span class="input-group-text border-start-0 border-end-0 bg-transparent text-end">
                    @{{ current_user.username }}
                </span>

                <button class="btn btn-outline-info border-start-0 border" type="button"
                        data-bs-toggle="modal" data-bs-target="#changeUsername">
                    <i class="fa-regular fa-pen-to-square"></i>
                </button>

            </div>

            <div class="modal fade" id="changeUsername">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5">Редагування імені користувача</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <div class="input-group mb-3">
                                  <span class="input-group-text bg-transparent">@</span>
                                  <input type="text" class="form-control" minlength="2" maxlength="20"
                                         value="{{ current_user.username }}" id="username" name="username">
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" id="changeUsernameButton" onclick="changeUsername()">
                                Змінити
                            </button>
                            <button type="button" class="btn btn-danger" id="cancelChangeUsernameButton" data-bs-dismiss="modal">
                                Відхилити
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="bio mt-3 mb-3">

            <div class="input-group w-100">

                <span class="input-group-text border-end-0 bg-transparent flex-grow-1">
                    Біографія
                </span>

                <span class="input-group-text border-start-0 border-end-0 bg-transparent text-start pre"
                      style="max-width: 45% !important;"
                >"{{ current_user.bio[:70] }}{% if current_user.bio|length > 70 %}...{% endif %}"</span>

                <button class="btn btn-outline-info border-start-0 border" type="button"
                        data-bs-toggle="modal" data-bs-target="#changeBio">
                    <i class="fa-regular fa-pen-to-square"></i>
                </button>

            </div>

            <div class="modal fade" id="changeBio">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5">Редагування біографії користувача</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Ваша біографія:</p>

                            <textarea class="form-control" minlength="0" maxlength="1000" style="height: 350px;"
                                      id="bio" name="bio">{{ current_user.bio }}</textarea>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" id="changeBioButton" onclick="changeBio()">
                                Змінити
                            </button>
                            <button type="button" class="btn btn-danger" id="cancelChangeBioButton" data-bs-dismiss="modal">
                                Відхилити
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="email mt-3 mb-3">

            <div class="input-group w-100">

                <span class="input-group-text border-end-0 bg-transparent flex-grow-1">
                    Пошта
                </span>
                <span class="input-group-text border-start-0 border-end-0 bg-transparent text-end">
                    {{ current_user.email }}
                </span>

                <button class="btn btn-outline-info border-start-0 border" type="button"
                        data-bs-toggle="modal" data-bs-target="#changeEmail">
                    <i class="fa-regular fa-pen-to-square"></i>
                </button>

            </div>

            {% if not current_user.email_status %}
                <div class="email-confirmation">
                    <p class="text-danger m-2">
                        Електронна пошта не підтверджена.
                        <a href="{{ url_for('auth.confirm_email') }}"
                            class="link-danger link-offset-2">Підтвердити зараз.</a>
                    </p>
                </div>
            {% endif %}

            <div class="modal fade" id="changeEmail">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5">Зміна електронної пошти</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <div class="input-group mb-3">
                                  <input type="email" class="form-control" minlength="4" maxlength="100"
                                         value="{{ current_user.email }}" id="email" name="email">
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" id="changeEmailButton" onclick="changeEmail()">
                                Змінити
                            </button>
                            <button type="button" class="btn btn-danger" id="cancelChangeEmailButton" data-bs-dismiss="modal">
                                Відхилити
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <!--
        <div class="email mt-3 mb-3">

            <div class="input-group w-100">
                <span class="input-group-text border-end-0 bg-transparent flex-grow-1">Електронна пошта</span>

                <button class="btn btn-outline-secondary border border-start-0 text-end" type="button">{{ current_user.email }}</button>
            </div>

        </div>
        -->

    </div>

    <script src="{{ url_for('static', filename='scripts/settings/settings.js') }}"></script>
{% endblock %}
