{% extends 'layouts/settings_layout.html' %}

{% block settings_title %}
    Налаштування акаунту
{% endblock %}

{% block settings_content %}
    <div class="title mt-3 mb-3" align="center">
        <h1>Налаштування акаунту</h1>
    </div>

    <div class="settings mt-3 mb-3">

        <div class="profile-picture mt-3 mb-3">

            <div class="input-group w-100">

                <span class="input-group-text border-end-0 bg-transparent flex-grow-1">
                    Фото профілю
                </span>
                <span class="input-group-text border-start-0 border-end-0 bg-transparent text-end">
                    <img src="{{ url_for('static', filename=current_user.profile_picture_path) }}"
                         class="img-thumbnail" width="100px">
                </span>

                <button class="btn btn-outline-info border-start-0 border" type="button"
                        data-bs-toggle="modal" data-bs-target="#changeProfilePicture">
                    Редагувати
                </button>

            </div>

            <div class="modal fade" id="changeProfilePicture">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5">Зміна фото профілю</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <p>Ваше попереднє фото профілю:</p>
                            <img src="{{ url_for('static', filename=current_user.profile_picture_path) }}"
                                 class="img-thumbnail mb-3" width="100px">

                            <p>Завантажте нове фото профілю (.png, .jpg):</p>
                            <input type="file" class="form-control" id="profilePicture" name="profilePicture">


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" id="changeProfilePictureButton" onclick="changeProfilePicture()">
                                Змінити
                            </button>
                            <button type="button" class="btn btn-danger" id="cancelChangeProfilePictureButton" data-bs-dismiss="modal">
                                Відхилити
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="username mt-3 mb-3">

            <div class="input-group w-100">

                <span class="input-group-text border-end-0 bg-transparent flex-grow-1">
                    Ім'я користувача
                </span>
                <span class="input-group-text border-start-0 border-end-0 bg-transparent text-end">
                    @{{ current_user.username }}
                </span>

                <button class="btn btn-outline-info border-start-0 border" type="button"
                        data-bs-toggle="modal" data-bs-target="#changeUsername">
                    Редагувати
                </button>

            </div>

            <div class="modal fade" id="changeUsername">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5">Редагування імені користувача</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <div class="input-group mb-3">
                                  <span class="input-group-text bg-transparent">@</span>
                                  <input type="text" class="form-control" minlength="2" maxlength="20"
                                         value="{{ current_user.username }}" id="username" name="username">
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" id="changeUsernameButton" onclick="changeUsername()">
                                Змінити
                            </button>
                            <button type="button" class="btn btn-danger" id="cancelChangeUsernameButton" data-bs-dismiss="modal">
                                Відхилити
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="email mt-3 mb-3">

            <div class="input-group w-100">

                <span class="input-group-text border-end-0 bg-transparent flex-grow-1">
                    Електронна пошта
                </span>
                <span class="input-group-text border-start-0 border-end-0 bg-transparent text-end">
                    {{ current_user.email }}
                </span>

                <button class="btn btn-outline-info border-start-0 border" type="button"
                        data-bs-toggle="modal" data-bs-target="#changeEmail">
                    Редагувати
                </button>

            </div>

            {% if not current_user.email_status %}
                <div class="email-confirmation">
                    <p class="text-danger m-2">
                        Електронна пошта не підтверджена.
                        <a href="{{ url_for('auth.confirm_email', username=current_user.username) }}"
                            class="link-danger link-offset-2">Підтвердити зараз.</a>
                    </p>
                </div>
            {% endif %}

            <div class="modal fade" id="changeEmail">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5">Зміна електронної пошти</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <div class="input-group mb-3">
                                  <input type="email" class="form-control" minlength="4" maxlength="100"
                                         value="{{ current_user.email }}" id="email" name="email">
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" id="changeEmailButton" onclick="changeEmail()">
                                Змінити
                            </button>
                            <button type="button" class="btn btn-danger" id="cancelChangeEmailButton" data-bs-dismiss="modal">
                                Відхилити
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <!--
        <div class="email mt-3 mb-3">

            <div class="input-group w-100">
                <span class="input-group-text border-end-0 bg-transparent flex-grow-1">Електронна пошта</span>

                <button class="btn btn-outline-secondary border border-start-0 text-end" type="button">{{ current_user.email }}</button>
            </div>

        </div>
        -->

    </div>

    <script src="{{ url_for('static', filename='scripts/settings/settings.js') }}"></script>
{% endblock %}
