{% extends 'layouts/layout.html' %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block content %}
    <div class="title mt-3 mb-3">
        <h1>{{ article.title }}</h1>
    </div>

    <div class="user-data mt-4 mb-4">
        <a class="btn m-0 p-0" href="{{ url_for('views.profile', username=user.username) }}">
            <img src="{{ url_for('static', filename='images/user_pictures/' + user.profile_picture) }}"
                 class="article-pfp rounded">
        </a>
        <a class="btn btn-lg fs-4" href="{{ url_for('views.profile', username=user.username) }}">@{{ user.username }}</a>

        {% if current_user.is_authenticated %}
            {% if current_user.id != user.id %}
                <span class="subscription subscription-user">
                    {% if subscription %}
                        <button class="btn btn-outline-danger" id="unfollowButton" type="button"
                                onclick="unfollow({{ user.id }}, 'user', {% if not user.profile_status %}false{% endif %})">
                            Відписатись
                        </button>
                    {% else %}
                        <button class="btn btn-outline-success" id="followButton" type="button"
                                onclick="follow({{ user.id }}, 'user', {% if not user.profile_status %}false{% endif %})">
                            Підписатись
                        </button>
                    {% endif %}
                </span>
            {% endif %}
        {% endif %}
    </div>

    <div class="article-data mt-3 mb-3">
        <div class="text-success">
            <hr class="mt-1 mb-1">
        </div>

        <div>
            <table class="table table-borderless mb-0 ms-2 me-2">
                <tbody>
                    <tr>
                        <td class="col-2 like-article-container">
                            {% if current_user.is_authenticated %}
                                {% if user_like %}
                                    <button class="like-article btn p-1" type="button"
                                            onclick="removeLike('{{ article.link }}')">
                                        <i class="fa-solid fa-heart"></i>
                                    </button>
                                {% else %}
                                    <button class="like-article btn p-1" type="button"
                                            onclick="putLike('{{ article.link }}')">
                                        <i class="fa-regular fa-heart"></i>
                                    </button>
                                {% endif %}
                            {% else %}
                                <button class="like-article btn p-1" type="button">
                                    <i class="fa-regular fa-heart"></i>
                                </button>
                            {% endif %}
                            <button class="btn p-1" type="button"
                                    data-bs-toggle="modal" data-bs-target="#likesModal">
                                <span class="likes">{{ likes|length }}</span>
                            </button>
                        </td>
                        <td class="col-2">
                            <a class="btn p-1" type="button" href="#comments-section">
                                <i class="fa-regular fa-comment"></i>
                                <span class="comments">{{ comments|length }}</span>
                            </a>
                        </td>
                        <td class="col-2">
                            <button class="btn p-1" type="button"
                                    data-bs-toggle="modal" data-bs-target="#viewsModal">
                                <i class="fa-regular fa-eye"></i>
                                <span class="views">{{ views|length }}</span>
                            </button>
                        </td>
                        <td class="col-4"></td>
                        <td class="col-1 saved-article-container">
                            {% if current_user.is_authenticated %}
                                {% if user_save %}
                                    <button class="saved-article btn p-1" type="button"
                                            onclick="deleteSavedArticle('{{ article.link }}')">
                                        <i class="fa-solid fa-bookmark"></i>
                                    </button>
                                {% else %}
                                    <button class="saved-article btn p-1" type="button"
                                            onclick="addSavedArticle('{{ article.link }}')">
                                        <i class="fa-regular fa-bookmark"></i>
                                    </button>
                                {% endif %}
                            {% else %}
                                <button class="btn p-1" type="button">
                                    <i class="fa-regular fa-bookmark"></i>
                                </button>
                            {% endif %}
                        </td>
                        <td class="col-1">
                            <div class="dropdown">
                                <button class="btn p-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end mt-2">
                                    {% if current_user.is_authenticated and current_user.id == user.id %}
                                        <li>
                                            <a class="dropdown-item" href="#">
                                                <i class="fa-regular fa-pen-to-square"></i> Редагувати
                                            </a>
                                        </li>
                                    {% endif %}
                                    <li>
                                        <button class="dropdown-item" type="button"
                                                onclick="copyLink('{{ url_for(request.endpoint, username=user.username, article_link=article.link, _external=True) }}')">
                                            <i class="fa-regular fa-share-from-square"></i> Копіювати посилання
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="text-success">
            <hr class="mt-1 mb-1">
        </div>
    </div>

    <div class="article mt-3 mb-3 ms-2 me-2">
        {% if article_document.content | length %}
            <div class="article-content mb-3">
                <h4 class="fw-bold">Зміст</h4>
                <ul>
                    {% for element in article_document.content %}
                    <li>
                        <a class="link-body-emphasis link-underline link-underline-opacity-0 fs-5"
                           href="#subtitle-{{ element.id }}">
                            {{ element.content }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if article_document.body | length %}
            {% for element in article_document.body %}
                {% if element.type == 'subtitle' %}
                    <div class="{{ element.type }}">
                        <h4 class="fw-{{ element.text_type }} pre mt-5 mb-4"
                            id="subtitle-{{ element.subtitle_id }}">{{ element.content }}</h4>
                    </div>
                {% elif element.type == 'text' %}
                    <div class="{{ element.type }}">
                        {% if element.text_type in ('normal', 'bold') %}
                            <p class="fs-5 fw-{{ element.text_type }} pre mb-3">{{ element.content }}</p>
                        {% else %}
                            <p class="fs-5 fst-{{ element.text_type }} pre mb-3">{{ element.content }}</p>
                        {% endif %}
                    </div>
                {% elif element.type == 'hyperlink' %}
                    <div class="{{ element.type }}">
                        <p class="mb-3">
                            <a class="fs-5 link-body-emphasis underline-offset pre"
                               href="{{ element.link }}">{{ element.content }}</a></p>
                    </div>
                {% elif element.type == 'textarea' %}
                    <div class="{{ element.type }}">
                        {% if element.text_type in ('normal', 'bold') %}
                            <p class="fs-5 fw-{{ element.text_type }} pre mb-3">{{ element.content }}</p>
                        {% else %}
                            <p class="fs-5 fst-{{ element.text_type }} pre mb-3">{{ element.content }}</p>
                        {% endif %}
                    </div>
                {% elif element.type == 'photo' %}
                    <div class="{{ element.type }} text-center">
                        <img src="{{ url_for('static',
                        filename='images/article_pictures/' + article.link + '/' + element.photo_name) }}"
                        class="w-100" align="middle">

                        <p class="fs-5 fst-{{ element.text_type }} pre mb-3">{{ element.content }}</p>
                    </div>
                {% elif element.type == 'code' %}
                    <div class="{{ element.type }}">
                        <pre class="mb-3"><code class="language-{{ element.language }}">{{ element.content }}</code></pre>
                    </div>
                {% elif element.type == 'pass' %}
                    <div class="{{ element.type }}">
                        <p class="fs-3 text-center mb-3">
                            <i class="fa-solid fa-ellipsis"></i>
                        </p>
                    </div>
                {% endif %}

            {% endfor %}
        {% endif %}
    </div>

    <div class="article-data mt-3 mb-3">
        <div class="text-success">
            <hr class="mt-1 mb-1">
        </div>

        <div>
            <table class="table table-borderless mb-0 ms-2 me-2">
                <tbody>
                    <tr>
                        <td class="col-2 like-article-container">
                            {% if current_user.is_authenticated %}
                                {% if user_like %}
                                    <button class="like-article btn p-1" type="button"
                                            onclick="removeLike('{{ article.link }}')">
                                        <i class="fa-solid fa-heart"></i>
                                    </button>
                                {% else %}
                                    <button class="like-article btn p-1" type="button"
                                            onclick="putLike('{{ article.link }}')">
                                        <i class="fa-regular fa-heart"></i>
                                    </button>
                                {% endif %}
                            {% else %}
                                <button class="like-article btn p-1" type="button">
                                    <i class="fa-regular fa-heart"></i>
                                </button>
                            {% endif %}
                            <button class="btn p-1" type="button"
                                    data-bs-toggle="modal" data-bs-target="#likesModal">
                                <span class="likes">{{ likes|length }}</span>
                            </button>
                        </td>
                        <td class="col-2">
                            <a class="btn p-1" type="button" href="#comments-section">
                                <i class="fa-regular fa-comment"></i>
                                <span class="comments">{{ comments|length }}</span>
                            </a>
                        </td>
                        <td class="col-2">
                            <button class="btn p-1" type="button"
                                    data-bs-toggle="modal" data-bs-target="#viewsModal">
                                <i class="fa-regular fa-eye"></i>
                                <span class="views">{{ views|length }}</span>
                            </button>
                        </td>
                        <td class="col-4"></td>
                        <td class="col-1 saved-article-container">
                            {% if current_user.is_authenticated %}
                                {% if user_save %}
                                    <button class="saved-article btn p-1" type="button"
                                            onclick="deleteSavedArticle('{{ article.link }}')">
                                        <i class="fa-solid fa-bookmark"></i>
                                    </button>
                                {% else %}
                                    <button class="saved-article btn p-1" type="button"
                                            onclick="addSavedArticle('{{ article.link }}')">
                                        <i class="fa-regular fa-bookmark"></i>
                                    </button>
                                {% endif %}
                            {% else %}
                                <button class="btn p-1" type="button">
                                    <i class="fa-regular fa-bookmark"></i>
                                </button>
                            {% endif %}
                        </td>
                        <td class="col-1">
                            <div class="dropdown">
                                <button class="btn p-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end mt-2">
                                    {% if current_user.is_authenticated and current_user.id == user.id %}
                                        <li>
                                            <a class="dropdown-item" href="#">
                                                <i class="fa-regular fa-pen-to-square"></i> Редагувати
                                            </a>
                                        </li>
                                    {% endif %}
                                    <li>
                                        <button class="dropdown-item" type="button"
                                                onclick="copyLink('{{ url_for(request.endpoint, username=user.username, article_link=article.link, _external=True) }}')">
                                            <i class="fa-regular fa-share-from-square"></i> Копіювати посилання
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="text-success">
            <hr class="mt-1 mb-1">
        </div>

    </div>

    <div class="modal fade" id="likesModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Лайки</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% if likes %}
                        {% for like in likes %}
                            {% with liker = like.user_id|user_loader %}
                                <div class="user-data mt-3 mb-3" id="liker_{{ liker.id }}">
                                    <div class="card">
                                        <div class="card-body">
                                            <a class="btn m-0 p-0" href="{{ url_for('views.profile', username=liker.username) }}">
                                                <img src="{{ url_for('static', filename='images/user_pictures/' + liker.profile_picture) }}"
                                                     class="rounded" width="50px">
                                            </a>
                                            <a class="btn btn-lg fs-5" href="{{ url_for('views.profile', username=liker.username) }}">
                                                @{{ liker.username }}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endwith %}
                        {% endfor %}
                    {% else %}
                        <p class="text-warning">Лайки відсутні</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="viewsModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Перегляди</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% if views %}
                        {% for view in views %}
                            {% if view.user_id == 0 %}
                                <div class="user-data mt-3 mb-3" id="viewer_0">
                                    <div class="card">
                                        <div class="card-body">
                                            <a class="btn m-0 p-0">
                                                <img src="{{ url_for('static', filename='images/user_pictures/default_pfp.png') }}"
                                                     class="rounded" width="50px">
                                            </a>
                                            <a class="btn btn-lg fs-5">
                                                Анонім
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                {% with viewer = view.user_id|user_loader %}
                                    <div class="user-data mt-3 mb-3" id="viewer_{{ viewer.id }}">
                                        <div class="card">
                                            <div class="card-body">
                                                <a class="btn m-0 p-0" href="{{ url_for('views.profile', username=viewer.username) }}">
                                                    <img src="{{ url_for('static', filename='images/user_pictures/' + viewer.profile_picture) }}"
                                                         class="rounded" width="50px">
                                                </a>
                                                <a class="btn btn-lg fs-5" href="{{ url_for('views.profile', username=viewer.username) }}">
                                                    @{{ viewer.username }}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                {% endwith %}
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <p class="text-warning">Перегляди відсутні</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div id="comments-section">
        <div class="comments-section-title mt-3 mb-3">
            <h5>Коментарі</h5>
        </div>

        {% if current_user.is_authenticated %}
            <div class="comment-publication">
                <textarea class="form-control mb-2" id="comment" placeholder="Ваш коментар"
                          minlength="1" maxlength="300"></textarea>
                <button class="btn btn-outline-success mt-2 mb-3" type="button"
                        onclick="postComment('{{ article.link }}')">Опублікувати</button>
            </div>
        {% endif %}

        <div class="all-comments">
            {% if comments %}
                {% for comment in comments %}
                    {% with commentator = comment.user_id|user_loader %}
                        <div class="card mt-3 mb-3" id="{{ comment.id }}">
                            <div class="card-header d-flex pt-1 pb-1 ps-2 pe-2">
                                <span class="flex-grow-1 mt-0 mb-0 p-1">
                                    <a class="link-body-emphasis link-underline link-underline-opacity-0"
                                       href="{{ url_for('views.profile', username=commentator.username) }}">
                                        @{{ commentator.username }}
                                    </a>
                                    {% if commentator.id == article.user_id %}
                                        <span class="text-primary">Автор</span>
                                    {% endif %}
                                    {% if current_user.is_authenticated %}
                                        {% if commentator.id == current_user.id %}
                                            <span class="text-warning">Ви</span>
                                        {% endif %}
                                    {% endif %}
                                </span>

                                {% if current_user.is_authenticated %}
                                    {% if commentator.id == current_user.id or article.user_id == current_user.id %}
                                        <div class="dropdown">
                                            <button class="btn p-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="fa-solid fa-ellipsis-vertical"></i>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-end mt-2">
                                                <li>
                                                    <button class="dropdown-item" type="button"
                                                            onclick="deleteComment('{{ article.link }}', {{ comment.id }})">
                                                        <i class="fa-regular fa-trash-can"></i> Видалити
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    {% endif %}
                                {% endif %}

                            </div>
                            <div class="card-body">
                                <p class="card-text pre">{{ comment.comment }}</p>
                            </div>
                        </div>

                    {% endwith %}
                {% endfor %}
            {% else %}
                <h5 class="mt-3 mb-3 text-center">
                    Коментарі відсутні
                </h5>
            {% endif %}
        </div>
    </div>

    <script src="{{ url_for('static', filename='scripts/article/article.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/subscriptions/subscriptions.js') }}"></script>
{% endblock %}
