{% extends 'layouts/layout.html' %}

{% block title %}
    Конструктор статей
{% endblock %}

{% block content %}
    <div class="title m-3 text-center">
        <h1>Конструктор статей</h1>
    </div>

    <div class="publication mt-3 mb-3 d-flex justify-content-end">
        <button class="btn btn-outline-info m-2" type="button" id="helpModalButton"
                data-bs-toggle="modal" data-bs-target="#helpModal">
            Підказка
        </button>

        <button class="btn btn-outline-success m-2 me-0" type="button"
                data-bs-toggle="modal" data-bs-target="#publicationModal">
            Опублікувати
        </button>

        <div class="modal fade" id="helpModal">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-info">Підказка</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <p class="fs-5">
                            Перед написанням статті ознайомтесь з блоками статті та
                            з можливістю інтеграції HTML тегів для кастомізації тексту.
                        </p>
                        <p class="fs-5 text-info mb-0">
                            Інформація для ознайомлення:
                        </p>
                        <p class="fs-5 mb-0">
                            Типи блоків:
                        </p>
                        <ul>
                            <li>
                                <u class="underline-offset">Заголовок</u> -
                                обов'язковий блок, для вводу заголовку статті.
                            </li>
                            <li>
                                <u class="underline-offset">Підзаголовок</u> -
                                це блок, що слугує для розбиття статті на певні підтеми,
                                згідно з якими автоматично буде створюватись зміст статті.
                            </li>
                            <li>
                                <u class="underline-offset">Рядок</u> -
                                це блок, в якому вводиться звичайний рядок,
                                в якому може міститись до прикладу одне речення.
                                В ньому можна обирати який текст буде: звичайний, товстий чи курсив.
                            </li>
                            <li>
                                <u class="underline-offset">Абзац</u> -
                                це блок, в якому вводиться багато речення та безліч рядків.
                                В ньому також можна обирати який текст буде: звичайний, товстий чи курсив.
                            </li>
                            <li>
                                <u class="underline-offset">Фото</u> -
                                це блок, в якому можна вставити фотографію та додати до неї опис(не обов'язково).
                            </li>
                            <li>
                                <u class="underline-offset">Код</u> -
                                це блок, в який можна вставляти код з безлічі рядків.
                                Обов'язковим параметром є вибір мови програмування,
                                для стилізації синтаксису при читанні статті.
                            </li>
                            <li>
                                <u class="underline-offset">Пропуск</u> -
                                це блок, що слугує розмежуванням обох частин.
                                В результаті його роботи просто частини розмежуються на короткий інтервал
                                з трьома крапками по центру.
                            </li>
                        </ul>
                        <p class="fs-5 mb-0">
                            Дозволи тегів:
                        </p>
                        <ul>
                            <li>
                                <u class="underline-offset">Заголовок</u> -
                                використання тегів цьому блоці заборонене.
                                Якщо ввести будь який тег, то він не спрацює.
                                Заголовок автоматично товстий та не змінний.
                            </li>
                            <li>
                                <u class="underline-offset">Підзаголовок</u> -
                                використання тегів цьому блоці заборонене.
                                Якщо ввести будь який тег, то він не спрацює.
                                Підзаголовок автоматично товстий та не змінний.
                            </li>
                            <li>
                                <u class="underline-offset">Рядок</u> -
                                дозволено використовувати теги: b, i, a,
                                де b - товстий, i - курсив, a - гіперпосилання
                                з обов'язковим параметром href="http://www.example.com".
                            </li>
                            <li>
                                <u class="underline-offset">Абзац</u> -
                                дозволено використовувати теги: b, i, a,
                                де b - товстий, i - курсив, a - гіперпосилання
                                з обов'язковим параметром href="http://www.example.com".
                            </li>
                            <li>
                                <u class="underline-offset">Фото</u> -
                                в описі під фото дозволено використовувати теги: b, i, a,
                                де b - товстий, i - курсив, a - гіперпосилання
                                з обов'язковим параметром href="http://www.example.com".
                            </li>
                            <li>
                                <u class="underline-offset">Код</u> -
                                в коді заборонено використовувати html теги,
                                оскільки код автоматично перетворюється в синтаксичний стиль мови.
                            </li>
                            <li>
                                <u class="underline-offset">Пропуск</u> -
                                поле вводу відсутнє.
                            </li>
                        </ul>
                        <p class="fs-5 text-info mb-0">
                            Примітка:
                        </p>
                        <p>
                            В полі вводу дозволені лише вище перечисленні теги,
                            які при рендері статті будуть перетворювати тег на стиль.
                        </p>
                        <p>
                            <u class="underline-offset">Наприклад:</u> <br>
                            Ввід:
                            Всім &lt;i&gt;привіт&lt;/i&gt;! Мене звуть &lt;b&gt;@{{ current_user.username }}&lt;/b&gt;! <br>
                            Вивід:
                            Всім <i>привіт</i>! Мене звуть <b>@{{ current_user.username }}</b>!
                        </p>
                        <p>
                            Теги b та i не приймають в себе параметри, інакше ігнорують їх.
                            Тег a приймає в себе параметр href="", що приймає посилання в повному вигляді,
                            інакше гіперпосилання не спрацює.
                        </p>
                        <p>
                            <u class="underline-offset">Наприклад:</u> <br>
                            <span class="text-success">Правильно:</span> <br>
                            &lt;a href="http://www.google.com"&gt;Посилання на Гугл&lt;/a&gt;
                            <br>
                            <span class="text-danger">Неправильно:</span> <br>
                            &lt;a href="google.com"&gt;Посилання на Гугл&lt;/a&gt;
                        </p>
                        <p class="fs-5 text-warning mb-0">
                            УВАГА!
                        </p>
                        <p>
                            Якщо Ви не в впевнені в свої знаннях та не знаєте як працюють HTML теги,
                            то просимо Вас <u class="underline-offset">НЕ</u> використовувати їх,
                            оскільки при перегляді статті можуть виникнути несподівані конфлікти.
                        </p>
                        <p class="fs-5 text-warning mb-0">
                            ЗАУВАЖЕННЯ!
                        </p>
                        <p>
                            Не закриті або не відкриті теги автоматично закриваються при рендері.
                            Просимо закривати теги, щоб не відбулось не бажаних конфліктів.
                            Якщо після написання щось пішло не так, Ви спокійно можете відредагувати.
                        </p>
                        <p>
                            <i>Ви можете повернутись до цієї підказки пізніше,
                            натиснувши на панелі кнопку "<span class="text-info">Підказка</span>".</i>
                        </p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Зрозуміло</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="publicationModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Нова публікація на сторінку @{{ current_user.username }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <p>Публікація</p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Скасувати</button>
                        <button type="button" class="btn btn-success">Опублікувати</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="builder mt-3 mb-3">

        <div class="article mt-3 mb-3 w-100">
            <div class="article-title">
                <div class="input-group input-group-lg mt-3 mb-5">
                    <label class="input-group-text bg-transparent w-25" for="title">Заголовок</label>
                    <input type="text" placeholder="Заголовок вашої статті" class="form-control" id="title">
                </div>
            </div>

            <div class="subtitle">
                <div class="input-group mt-3 mb-3 w-100">
                    <span class="input-group-text bg-transparent w-25">
                        Підзаголовок
                    </span>

                    <input type="text" class="form-control" placeholder="Підзаголовок">

                    <button class="btn btn-outline-danger border" type="button"><i class="fa-solid fa-xmark"></i></button>
                </div>
            </div>

            <div class="text">
                <div class="input-group mt-3 mb-3 w-100">
                    <span class="w-25">
                        <select class="text-type form-select rounded-start rounded-0">
                            <option value="paragraph">Звичайний</option>
                            <option value="bold">Товстий</option>
                            <option value="italic">Курсив</option>
                        </select>
                    </span>

                    <input type="text" class="form-control" placeholder="Рядок">

                    <button class="btn btn-outline-danger border" type="button"><i class="fa-solid fa-xmark"></i></button>
                </div>
            </div>

            <div class="text-area">
                <div class="input-group mt-3 mb-3 w-100">
                    <span class="input-group w-25">
                        <select class="text-type form-select rounded-start rounded-0">
                            <option value="paragraph">Звичайний</option>
                            <option value="bold">Товстий</option>
                            <option value="italic">Курсив</option>
                        </select>
                    </span>

                    <textarea class="form-control" placeholder="Абзац"></textarea>

                    <button class="btn btn-outline-danger border" type="button"><i class="fa-solid fa-xmark"></i></button>
                </div>
            </div>

            <div class="photo">
                <div class="input-group mt-3 mb-3 w-100 d-flex flex-nowrap">

                    <div class="w-auto flex-grow-1">
                        <div class="input-group w-100">
                            <span class="input-group-text bg-transparent w-25 rounded-0 rounded-top rounded-end-0 border-bottom-0">
                                Фото
                            </span>
                            <input type="file" class="form-control rounded-0 border-bottom-0">
                        </div>

                        <div class="input-group w-100">
                            <span class="input-group-text bg-transparent w-25 rounded-end-0 rounded-top-0">
                                Опис
                            </span>
                            <input type="text" class="form-control rounded-0" placeholder="Опис фотографії">
                        </div>
                    </div>

                    <button class="btn btn-outline-danger border border-start-0" type="button"><i class="fa-solid fa-xmark"></i></button>

                </div>
            </div>

            <div class="pass">
                <div class="input-group mt-3 mb-3 w-100">
                    <span class="input-group-text bg-transparent flex-grow-1 justify-content-center">
                        <i class="fa-solid fa-ellipsis"></i>
                    </span>
                    <button class="btn btn-outline-danger border" type="button"><i class="fa-solid fa-xmark"></i></button>
                </div>
            </div>

            <div class="code">
                <div class="input-group mt-3 mb-3 w-100">
                    <span class="input-group w-25">
                        <select class="language form-select rounded-start rounded-0">
                            <option value="">Python</option>
                            <option value="">C</option>
                            <option value="">C++</option>
                            <option value="">Rust</option>
                            <option value="">Java</option>
                            <option value="">C#</option>
                            <option value="">Ruby</option>
                            <option value="">Go</option>
                            <option value="">HTML</option>
                            <option value="">CSS</option>
                            <option value="">JavaScript</option>
                            <option value="">TypeScript</option>
                            <option value="">SQL</option>
                            <option value="">Swift</option>
                            <option value="">Kotlin</option>
                            <option value="">Flutter</option>
                        </select>
                    </span>

                    <textarea class="form-control" placeholder="Код"></textarea>

                    <button class="btn btn-outline-danger border" type="button"><i class="fa-solid fa-xmark"></i></button>
                </div>
            </div>

            <br><br><br>

            <div class="input-group mb-3 container fixed-bottom">
                <button class="btn btn-outline-success border bg-body-tertiary" type="button"><i class="fa-solid fa-plus"></i></button>
                <select class="textType form-select bg-body-tertiary" id="#">
                    <option value="subtitle">Підзаголовок</option>
                    <option value="text">Рядок</option>
                    <option value="textarea">Абзац</option>
                    <option value="photo">Фото</option>
                    <option value="code">Код</option>
                    <option value="pass">Пропуск</option>
                </select>
            </div>

        </div>
    </div>

    <script src="{{ url_for('static', filename='scripts/articles_builder/articles_builder.js') }}"></script>
{% endblock %}
