{% extends 'layouts/profile_layout.html' %}

{% block profile_title %}
    Профіль користувача @{{ user.username }}
{% endblock %}

{% block profile_content %}

    <div class="articles mt-3 mb-3">
        {% if articles %}
            {% for article in articles %}
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a class="link-underline link-underline-opacity-0"
                               href="{{ url_for('views.article', username=user.username, article_link=article.link) }}">
                                {{ article.title }}
                            </a>
                        </h5>
                        <p class="card-text">link: {{ article.link }}</p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p class="fs-3 text-center mt-3 mb-1">
                Публікації відстуні
            </p>
            {% if current_user.id == user.id %}
                <p class="fs-5 text-center">
                    <a class="link-underline link-underline-opacity-0" href="{{ url_for('views.articles_builder') }}">
                        <i class="fa-regular fa-pen-to-square"></i> Написати зараз
                    </a>
                </p>
            {% endif %}
        {% endif %}
    </div>

{% endblock %}
