{% extends 'profile_layout.html' %}

{% block username %}
    Профіль користувача @{{ user.username }}
{% endblock %}

{% block profile_content %}

    <div class="articles mt-3 mb-3">
<!--
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">

                </div>

                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Стаття 2</h5>
                        <p class="card-text">Бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла  бла бла бла бла бла бла</p>
                        <p class="card-text"><small class="text-body-secondary">Востаннє оновлено 5 хв. назад</small></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">

                </div>

                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Стаття 1</h5>
                        <p class="card-text">Бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла  бла бла бла бла бла бла</p>
                        <p class="card-text"><small class="text-body-secondary">Востаннє оновлено 5 хв. назад</small></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">

                </div>

                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Стаття 4</h5>
                        <p class="card-text">Бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла  бла бла бла бла бла бла</p>
                        <p class="card-text"><small class="text-body-secondary">Востаннє оновлено 5 хв. назад</small></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">

                </div>

                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Стаття 3</h5>
                        <p class="card-text">Бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла  бла бла бла бла бла бла</p>
                        <p class="card-text"><small class="text-body-secondary">Востаннє оновлено 5 хв. назад</small></p>
                    </div>
                </div>
            </div>
        </div>
-->
    </div>

{% endblock %}