{% extends 'layout.html' %}

{% block title %}
    Тема
{% endblock %}

{% block content %}
    <div class="title m-3" align="center">
        <h1>Тема</h1>
    </div>

    <div class="form mt-3 mb-3">
        <form method="POST">
            <div class="input-group mb-3">
                <label class="input-group-text" for="theme">Тема</label>
                <select class="form-select" id="theme" name="theme">
                    <option value="light">Світла</option>
                    <option value="dark">Темна</option>
                    <option value="auto">Авто</option>
                </select>
            </div>


            <input type="submit" class="btn btn-success">
        </form>
    </div>

    <script src="{{ url_for('static', filename='scripts/customize/custom.js') }}"></script>
{% endblock %}