{% extends 'layouts/layout.html' %}

{% block title %}
    {% block profile_title %}
    {% endblock %}
{% endblock %}

{% block content %}
    <div class="profile mt-5 mb-5">
        <div class="user-data mt-3 mb-3">

            <a class="btn m-0 p-0" href="{{ url_for('views.profile', username=user.username) }}">
                <img src="{{ url_for('static', filename='images/user_pictures/' + user.profile_picture) }}"
                     class="pfp rounded">
            </a>
            <a class="btn btn-lg fs-3" href="{{ url_for('views.profile', username=user.username) }}">@{{ user.username }}</a>

            {% if current_user.is_authenticated %}
                {% if current_user.id != user.id %}
                    <span class="subscription subscription-user">
                        {% if subscription %}
                            <button class="btn btn-outline-danger" id="unfollowButton" type="button"
                                    onclick="unfollow({{ user.id }}, 'user', {% if not user.profile_status %}false{% endif %})">
                                Відписатись
                            </button>
                        {% elif subscription_request %}
                            <button class="btn btn-outline-warning" id="unfollowRequestButton" type="button"
                                    onclick="unfollowRequest({{ user.id }}, 'user', {% if not user.profile_status %}false{% endif %})">
                                Скасувати запит на підписку
                            </button>
                        {% elif not user.profile_status %}
                            <button class="btn btn-outline-warning" id="followRequestButton" type="button"
                                    onclick="followRequest({{ user.id }}, 'user', {% if not user.profile_status %}false{% endif %})">
                                Надіслати запит на підписку
                            </button>
                        {% else %}
                            <button class="btn btn-outline-success" id="followButton" type="button"
                                    onclick="follow({{ user.id }}, 'user', {% if not user.profile_status %}false{% endif %})">
                                Підписатись
                            </button>
                        {% endif %}
                    </span>
                {% endif %}
            {% endif %}
        </div>

        <div class="subscription-data mt-3">
            <table class="table table-borderless mb-1 m-0">
                <thead>
                    <tr align="center">
                        <th scope="col">
                            <button class="btn border w-100" type="button"
                                    data-bs-toggle="modal" data-bs-target="#followersModal">
                                Підписники
                                <br>
                                <span id="followers">{{ followers|length }}</span>
                            </button>
                        </th>
                        <th scope="col">
                            <button class="btn border w-100" type="button"
                                    data-bs-toggle="modal" data-bs-target="#followingsModal">
                                Підписки
                                <br>
                                <span id="followings">{{ followings|length }}</span>
                            </button>
                        </th>
                    </tr>
                    {% if current_user.id == user.id and not current_user.profile_status %}
                        <tr align="center">
                            <th colspan="2">
                                <button class="btn border w-100" type="button"
                                    data-bs-toggle="modal" data-bs-target="#followRequestsModal">
                                    Запити на підписку
                                    <br>
                                    <span id="followRequests">{{ follow_requests|length }}</span>
                                </button>
                            </th>
                        </tr>
                    {% endif %}
                </thead>
            </table>

            <div class="modal fade" id="followersModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5">Підписники</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {% if user.profile_status or current_user.id == user.id or subscription %}
                                {% if followers %}
                                    {% for follower in followers %}
                                        {% with follower = follower.user_id|user_loader %}
                                            <div class="user-data mt-3 mb-3" id="follower_{{ follower.id }}">
                                                <div class="card">
                                                    <div class="card-body">

                                                        <a class="btn m-0 p-0" href="{{ url_for('views.profile', username=follower.username) }}">
                                                            <img src="{{ url_for('static', filename='images/user_pictures/' + follower.profile_picture) }}"
                                                                 class="rounded" width="50px">
                                                        </a>
                                                        <a class="btn btn-lg fs-5" href="{{ url_for('views.profile', username=follower.username) }}">
                                                            @{{ follower.username }}
                                                        </a>

                                                        {% if current_user.id == user.id %}
                                                            <button class="btn btn-outline-danger" type="button"
                                                                    onclick="deleteFollower({{ user.id }}, {{ follower.id }})">
                                                                Видалити
                                                            </button>
                                                        {% endif %}

                                                    </div>
                                                </div>
                                            </div>
                                        {% endwith %}
                                    {% endfor %}
                                {% else %}
                                    <p class="text-warning">Підписники відсутні</p>
                                {% endif %}
                            {% elif not user.profile_status %}
                                <p class="text-danger">Цей профіль приватний! Щоб отримати доступ, потрібно підписатись</p>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="followingsModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5">Підписки</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            {% if user.profile_status or current_user.id == user.id or subscription %}
                                {% if followings %}
                                    {% for following in followings %}
                                        {% with following = following.author_id|user_loader %}
                                            <div class="user-data mt-3 mb-3">
                                                <div class="card">
                                                    <div class="card-body">

                                                        <a class="btn m-0 p-0"
                                                           href="{{ url_for('views.profile', username=following.username) }}">
                                                            <img src="{{ url_for('static', filename='images/user_pictures/' + following.profile_picture) }}"
                                                                 class="rounded" width="50px">
                                                        </a>
                                                        <a class="btn btn-lg fs-5"
                                                           href="{{ url_for('views.profile', username=following.username) }}">
                                                            @{{ following.username }}
                                                        </a>

                                                    </div>
                                                </div>
                                            </div>
                                        {% endwith %}
                                    {% endfor %}
                                {% else %}
                                    <p class="text-warning">Підписки відсутні</p>
                                {% endif %}
                            {% elif not user.profile_status %}
                                <p class="text-danger">Цей профіль приватний! Щоб отримати доступ, потрібно підписатись</p>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>

            {% if current_user.id == user.id and not current_user.profile_status %}
                <div class="modal fade" id="followRequestsModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5">Запити на підписку</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                {% if follow_requests %}
                                    {% for follower_request in follow_requests %}
                                        {% with follower = follower_request.user_id|user_loader %}
                                            <div class="user-data mt-3 mb-3" id="follow_request_{{ follower.id }}">
                                                <div class="card">
                                                    <div class="card-body">

                                                        <a class="btn m-0 p-0" href="{{ url_for('views.profile', username=follower.username) }}">
                                                            <img src="{{ url_for('static', filename='images/user_pictures/' + follower.profile_picture) }}"
                                                                 class="rounded" width="50px">
                                                        </a>
                                                        <a class="btn btn-lg fs-5"
                                                           href="{{ url_for('views.profile', username=follower.username) }}">
                                                            @{{ follower.username }}
                                                        </a>

                                                        <button class="btn btn-outline-success" type="button"
                                                                onclick="acceptFollowRequest({{ user.id }}, {{ follower.id }})">
                                                            Прийняти
                                                        </button>
                                                        <button class="btn btn-outline-danger" type="button"
                                                                onclick="rejectFollowRequest({{ user.id }}, {{ follower.id }})">
                                                            Відхилити
                                                        </button>

                                                    </div>
                                                </div>
                                            </div>
                                        {% endwith %}
                                    {% endfor %}
                                {% else %}
                                    <p class="text-warning">Запити на підписку відсутні</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

        </div>

        <div class="navigation mt-3 mb-3">
            <ul class="nav nav-tabs nav-fill">
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'views.profile' %}active{% endif %}"
                       href="{{ url_for('views.profile', username=user.username) }}">
                        Публікації
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'views.profile_about' %}active{% endif %}"
                       href="{{ url_for('views.profile_about', username=user.username) }}">
                        Про себе
                    </a>
                </li>
            </ul>
        </div>

        {% if current_user.id == user.id or user.profile_status or subscription %}
            {% block profile_content %}
            {% endblock %}
        {% elif not user.profile_status %}
            <div class="private mt-5 mb-5" align="center">
                <h3 class="fs-5">
                    <i class="fa-solid fa-lock"></i> Цей профіль приватний
                </h3>
            </div>
        {% endif %}

    </div>

    <script src="{{ url_for('static', filename='scripts/subscriptions/subscriptions.js') }}"></script>
{% endblock %}
