{% extends 'layouts/layout.html' %}

{% block title %}
    {% block settings_title %}
    {% endblock %}
{% endblock %}

{% block content %}

    <div class="navigation mt-3 mb-3">
        <ul class="nav nav-tabs nav-fill">
            <li class="nav-item">
                <a class="nav-link {% if request.endpoint == 'views.settings' %}active{% endif %}"
                   href="{{ url_for('views.settings') }}">
                    Загальні
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link {% if request.endpoint == 'views.account_settings' %}active{% endif %}"
                   href="{{ url_for('views.account_settings') }}">
                    Акаунт
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link {% if request.endpoint == 'views.security_settings' %}active{% endif %}"
                   href="{{ url_for('views.security_settings') }}">
                    Безпека
                </a>
            </li>
        </ul>
    </div>

    {% block settings_content %}
    {% endblock %}
{% endblock %}
